* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: floralwhite;
}

.App {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
}
