* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: floralwhite;
}

.header {
  background: linear-gradient(90deg, #fafeff 0%, #d1e1f8 100%);
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
}
